{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Employee Manager</title>
    {% block head %} 
    {% endblock %}
  </head>
  <body>
    <header>
      <h1> Employee Manager</h1>
      <nav>
        <ul>
            {% comment %} <>li><a href="{% url 'home' %}">Home</a></li> {% endcomment %}
        </ul>
      </nav>
    </header>
    <main class="container">
     {% block content %} 
     {% endblock %}
     </main>
  </body>
</html>